<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Este es el about</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est accusamus asperiores id numquam, exercitationem maxime nam eligendi unde illo tenetur facere odio consequatur corporis, soluta praesentium nobis laboriosam fugiat. Unde impedit esse exercitationem. Error molestiae doloribus consequuntur deserunt ut quod, at sequi facere saepe magnam dolore obcaecati dignissimos, molestias aliquam architecto illum culpa suscipit iusto ad? Debitis, quam cum temporibus magnam ad explicabo minus, obcaecati vitae omnis ducimus corporis officiis saepe. Reprehenderit doloremque molestias est suscipit consequuntur error architecto aliquid blanditiis natus eveniet obcaecati, saepe repudiandae ipsum eius mollitia perspiciatis neque provident. Numquam dicta nihil a tempora modi! Deleniti, qui.</p>
    
</body>
</html>